<nav class="mnb navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="background-color: #fff;">
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">ENG <span class="caret"></span></a>
        </li>
        <li><a href="#"><i class="fa fa-bell"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
        <li>
          <div class="profile-header">
            <img src="../../assets/profile.png" alt="User Profile" />
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle user-name">Prasad Waghmode <span class="caret"></span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="row">
          <div class="form-group col-md-1 " style="margin-top: 6px">
            <i class="fa fa-search pt-2" aria-hidden="true"></i>
          </div>
          <div class="form-group col-md-9">
            <input type="text" class="search-box" placeholder="Search">
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>