.card {
    text-align: left;
    padding: 0 10px 5px 10px;
    background-color: #8D9BE7;
}
.card1 {
    text-align: left;
    padding: 0 10px 5px 10px;
    background-color: #fff;
}

.card-icon {
    font-size: 40px;
    color: #fff; 
} 

.card-icon1 {
    font-size: 40px;
    color: #808080; 
}

.card-label1{
    color: white;
}
.card-label{
    color: blue;
}
.card-name{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 0;
} 
.card-name1{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 0;
} 



.card-description{
    color:#000;
    font-size: 10px
}
.card-description1{
    color:#fff;
    font-size: 10px;
}










// table 















// .profile-image {
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     overflow: hidden;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // border: 2px solid #ccc;
//   }
  






















//   graph

