<app-header></app-header>
<app-sidebar></app-sidebar>
<!--main content wrapper-->
<div class="mcw">
    <div class="cv">
        <div>
            <div class="inbox">
                <div class="inbox-bx container">
                    <div class="row">
                        <app-cards [cardsDataInput]="cardsDataOutput"></app-cards>
                        <app-table [tableDataInput]="cardsDataOutput"></app-table>
                        <app-graph></app-graph>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>