#chart , #chart1 , #chart2 {
    max-width: 650px;
    margin: 35px auto;
  }

  .graph{
    background-color: #fff;
  height: 350px;
  }
//   .container{
//     margin-top: 15px;
//   }

  .graph h4{
    padding-top: 20px;
    padding-left: 20px;
  }